/***** Custom Properties *****/
:root{
    --bg-color:linear-gradient(90deg, rgba(0,0,0,0.93) 0%, rgba(247,141,9,1) 50%, rgba(0,0,0,0.927608543417367) 100%);
    --text-color:rgba(233, 232, 232, 0.938);
}
/***** Reset Styles *****/
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

body{
    margin: 0;
    background:var(--bg-color);
}  

a{
    text-decoration: none;    
}

/***** My Styles *****/

.analysis{
    grid-area: analysis;
    padding: 0.5rem;
    background-color: rgba(36, 31, 31, 1); 
    border: solid 2px orange;
    color: var(--text-color);
}

.analysis img{
    width: 100%;
    height: auto;
}

.button{
    text-align: center;
    padding: 1rem;
}

.button a{
    color: rgba(226, 86, 21, 0.904);
}

.contact{
    grid-area: contact;
    background-color: rgba(36, 31, 31, 1); 
    border: solid 2px orange;
    color: var(--text-color);
}

.container-grid{
    display: grid;
    grid-template-areas:
        "analysis news"
        "contact contact"
    ;
}

.container-social{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(36, 31, 31, 1);
}

header{
    position: sticky;
    top:0;
    z-index: 999;
}

.icon-social{
    font-size: 1.5rem;
    color: rgba(189, 83, 34, 0.904);
}

.icon-social:hover{
    color: rgba(255, 81, 0, 0.993);
}

.nav__list{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1rem;
    list-style: none;
    background-color: rgba(36, 31, 31, 0.928);
}

.nav__list__item a{
    color: var(--text-color);
    font-size: 1.2rem;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.nav__list__item a:hover{
    color: rgba(226, 86, 21, 0.904);
    font-size: 1.3rem;
}

.news{
    grid-area: news;
    background-color: rgba(36, 31, 31, 1); 
    border: solid 2px orange;
    color: var(--text-color);
    padding: 0.5rem;
}

.news img{
    width: 100%;
    height: auto;
}

.logo{
    display: flex;
    justify-content: center;
    background-color: rgba(36, 31, 31, 1); 
    border: solid 2px orange;
}

.logo h1{
    color:rgba(226, 86, 21, 0.904);
    align-self: center;
}

.logo img{
    width: 15%;
    height: auto;
}

.subtittle{
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
}

.tittle{
    text-align: center;
    padding: 1rem;
    color: var(--text-color);
}

.tittle-section{
    text-align: center;
}

/***** Medias queries *****/

@media screen and (max-width:350px) {
    html{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {

    html{
        font-size: 1.05rem;
    }

    .logo img{
        width: 10%;
        height: auto;
    }

}

@media  screen and (min-width: 1024px) {

    html{
        font-size: 1.15rem;
    }

    .analysis, .news img{
        width: 70%;
    }

    .analysis, .news{
        text-align: center;
    }
}